/* Backgrounds ( Site, botoes, hover ) */
//Cor de Fundo
$cor-de-fundo: #c9c6b4;
$cor-de-fundo-secundaria: #ffffff;
$cor-de-fundo-botoes: #4141be;
$cor-de-fundo-sortear: #5f1ed0;

//Hover
$hover-botoes: #2929d3;
$hover-sortear: #af8ce8;

/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$fonte: 'Roboto', sans-serif;

//Cor da fonte
$preto: #000;
$branco: #fff;